:root{
--color-primary: #DEAA79;
--color-secondary: #FFE6A9;
--color-accent1: #B1C29E;
--color-accent2: #659287;
--color-white: rgb(255, 255, 255);
}

* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:'Montserrat', sans-serif;
    color: black;
  }
  
  /* Header */
  .header {
    height: 20vh;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
  }

  .header {
    justify-content: center;
}

.header h1 {
    text-align: center;
    width: 100%;
}

  
  /* Navigation */
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
  }
  
  .hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    transition: 0.4s;
  }
  
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .nav-menu.active {
    left: 0;
  }
  
  .nav-menu a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 15px 0;
  }
  
  .hamburger-menu.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-menu.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  /* Main Content dstartsida*/
  @media screen and (min-width: 768px) {
  #wrapper_index{
    display: grid;
    gap: 1vh;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 50vh 50vh;
    grid-template-areas: 
    "img_i1 ma_i"
    "img_i2 ar_i";
  }
  }
  
  
  
 .image-section {
    flex: 1;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    grid-area: img_i1 ;
  }

  .text-section{
    height: 50vh;
    padding: 20px;
    background-color: var(--color-secondary);
    text-align: center;
    justify-content: center;
    padding: 5vh;
    grid-area: ma_i;
  }

  .text-section p{
    margin-top: 5vh;
  }
  
  .image-section {
    background-color: var(--color-accent1);
  }
  
  .image-section img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  /* Article Section startsida */
  
  .article-text p{
    margin-top: 5vh;
  }
   .article-image {
    flex: 1;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--color-accent2);
  }
  
  .article-text {
    text-align: center;
    grid-area: ar_i;
    background-color: var(--color-secondary);
    padding: 20px;
  }
  
  .article-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    grid-area: img_i2
  }
  

footer {
    height: 20vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/*här kommer css för portfolio*/

.wrapper_portfolio{
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .wrapper_portfolio{
      display: flex;
      display: grid;
      grid-template-columns:  15vw 1fr 15vw 1fr 15vw 1fr;
      grid-template-rows: 80vh 20vh 80vh 20vh;
      grid-template-areas:
            'img1 img1 img1 img2 img2 img2'
            'ma1 ma1 ma1 ma1 ma1 ma1'
            'img3 img3 img4 img4 img5 img5'
            'ar1 ar1 ar1 ar1 ar1 ar1';
        gap: 1vh; 
    }
  }
.image-section_portfolio1{
  display: flex;
  grid-area: img1 ;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background-color: var(--color-secondary);
}

.image-section_portfolio1 > img {
  width: 100%;
}
.image-section_portfolio2{
  display: flex;
  grid-area: img2 ;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background-color: var(--color-secondary);
}
.image-section_portfolio2 > img {
  width: 100%;
}
.image-section_portfolio3{
  display: flex;
  grid-area: img3 ;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background-color: var(--color-accent1);
}
.image-section_portfolio3 > img {
  width: 100%;
}
.image-section_portfolio4{
  display: flex;
  grid-area: img4 ;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background-color: var(--color-accent1);
}
.image-section_portfolio4 > img {
  width: 100%;
}
.image-section_portfolio5{
  display: flex;
  grid-area: img5 ;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background-color: var(--color-accent1);
}
.image-section_portfolio5 > img {
  width: 100%;
}
.article-text_portfoilo{
 display: flex;
 grid-area: ar1;
 background-color: var(--color-secondary);
 align-items: center;
 text-align: center;
 width: 100%;;
 padding: 1rem;
}
.main_portfolio{
  display: flex;
  grid-area: ma1;
  background-color: var(--color-primary);
  align-items: center;
  text-align: center;
  padding: 1rem;
}

/* här kommer ccs för coletions*/
@media screen and (max-width: 768px) {
.wrapper_colletitons{
  display: flex;
  display: grid;
  grid-template-columns:  1fr 1fr ;
  grid-template-rows: auto 40vh 40vh 40vh 40vh;
  grid-template-areas:
        'ma_c ma_c'
        'img_c1 img_c2'
        'img_c3 img_c4'
        'img_c5 img_c6'
        'img_c7 img_c8';
    gap: 1vh; 
    


}

.image-section_coletion1 img,
.image-section_coletion2 img,
.image-section_coletion3 img,
.image-section_coletion4 img,
.image-section_coletion5 img,
.image-section_coletion6 img,
.image-section_coletion7 img,
.image-section_coletion8 img {
  max-width: 100%;
  height: auto;
  display: block;
}

}
@media screen and (min-width: 768px) {
  .wrapper_colletitons{
      display: flex;
      display: grid;
      grid-template-columns:  1fr 1fr 1fr 1fr;
      grid-template-rows: 40vh 50vh 50vh ;
      grid-template-areas:
            'ma_c ma_c ma_c ma_c'
            'img_c1 img_c2 img_c3 img_c4'
            'img_c5 img_c6 img_c7 img_c8';
        gap: 1vh; 
    }
  }

  .main_colletitons{
    padding: 2vh;
    grid-area: ma_c;
    background-color: var(--color-secondary);
    text-align: center;
    
  }
  .main_colletitons p{
    margin-top: 2vh;
  }
  .main_colletitons p {
     max-width: 100%;
     max-height: 100%
  }

  
  .image-section_coletion1{
  display: flex;
  grid-area: img_c1 ;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  justify-content: center;
  background-color: var(--color-accent2);

  }
  .image-section_coletion1 img{
    width: 100%;
  }
  .image-section_coletion2{
    display: flex;
    grid-area: img_c2 ;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: var(--color-accent2);
    justify-content: center;
  }
  .image-section_coletion2 img{
    width: 100%;
  }
  .image-section_coletion3{
    display: flex;
    grid-area: img_c3 ;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: var(--color-accent2);
    justify-content: center;
  }
  .image-section_coletion4{
    display: flex;
    grid-area: img_c4 ;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: var(--color-accent2);
    justify-content: center;
  }
  .image-section_coletion5{
    display: flex;
    grid-area: img_c5 ;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: var(--color-accent1);
    justify-content: center;
  }
  .image-section_coletion6{
    display: flex;
    grid-area: img_c6 ;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: var(--color-accent1);
    justify-content: center;
  }
  .image-section_coletion7{
    display: flex;
    grid-area: img_c7 ;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: var(--color-accent1);
    justify-content: center;
  }
  .image-section_coletion8{
    display: flex;
    grid-area: img_c8 ;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: var(--color-accent1);
    justify-content: center;
  }
/* här kommer ccs för about_me*/

.wrapper_about_me{
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 768px) {
  .wrapper_about_me{
      display: flex;
      display: grid;
      grid-template-columns:  1fr 1fr;
      grid-template-rows: 50vh 50vh 40vh ;
      grid-template-areas:
            'ma_a img_a'
            'ar_a img_a'
            'co_a img_a';
      gap: 1vh; 
    }
  }

.main_about_me{
  
  grid-area: ma_a;
  background-color: var(--color-accent2);
  text-align: center;
  padding: 5vh;

}
.main_about_me p{
  margin-top: 5vh;
}
.article_about_me{
 
    grid-area: ar_a;
    background-color: var(--color-accent2);
    text-align: center;
  padding: 5vh;
}
.article_about_me p{
  margin-top: 5vh;
}

.contact_about_me{

  grid-area: co_a;
  background-color: var(--color-accent2);
  text-align: center;
  padding: 5vh;
}
.contact_about_me p{
  margin-top: 5vh;
}
.image-section_about_me{

  grid-area: img_a ;
  object-fit: contain;
  max-width: 100%;
  display: flex;
  background-color: var(--color-secondary);
  justify-content: center;
  
}

.image-section_about_me img {
  width: 100%;
}